body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}


.logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
@media screen and (max-width: 600px) {
  .logo {
    height: 40vmin;
  }
}

.App{
  text-align: center;
  height: 100vh;
  display: flex;
  background-color: #282c32;
}

.App::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2{
  font-weight: 400;
  margin: 0;
  color: #61dafb;
  text-align: center;
}

h4{
  font-weight: 400;
  margin: 5px;

}

.btn{
  display: block;
  padding: 1rem;
  background-color: #61dafb;
  color: #282c34;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.btn:hover{
  background-color: #4292a8;
}

.btn:active{
  background-color: #2a5f6e;
}

#form{
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
}
